body{
    height: 600px;
    border: 1px solid black;
}

.container{
    height: 600px;
    /* background-color: antiquewhite; */
    text-align: center;
    border: 1px solid #000;
    display: grid;

    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(4, 20%);

    /* grid-template-rows: 50px 50px 50px 50px; */
    grid-template-rows: repeat(2, 150px);

    /* espaço entre colunas */
    column-gap: 10px;

    /* espaço entre linhas */
    row-gap: 15px;

    /* justificar na horizontal */
    justify-items: center;

    /* justificar na vertical */
    align-items: center;

    /* mover o container na horizontal */
    justify-content: space-evenly;

    /* mover o container na vertical */
    align-content: space-evenly;
}

.itens{
    width: 100%;
    height: 100%;
    border: 1px solid #4682B4;
    font-size: 250%;
}