/* quando eu quero sinalizar que eu vou chamar um id, o nome deve vir acompanhado no inicío pelo simbolo do jogo da velha */
#div1{
    background-color: antiquewhite;
}

#div2{
    background-color: teal;
}

/* quando eu quero sinalizar quando eu vou chamar um id, o nome deve vir acompanhado no inicío pelo símbolo de ponto final - aplicar o mesmo estilo CSS para varias tags diferentes*/
.h{
    text-shadow: 5px 5px 5px color;
}