#p1{
    /* largura da borda */
    border-width: 3px;

    /* cor da borda */
    border-color: steelblue;
    
    /* estilo de borda */
    border-style: inset;
}

img{
    /* altura */
    height: 150px;

    /* largura */
    width: 150px;
}

body{
    background-image: url("./floresta.jpg");
    background-size: cover;

    /* fixed e scroll */
    background-attachment: fixed;
}